header{ text-align: center; font-size:200%;}
h1{ text-decoration: underline;} 
section{border-style:solid; border-width: 2px; margin-bottom: 3px;margin-right: 11cm;margin-left:9cm;  border-radius: 10px;}
body{background-color: Gray; color: White;}
footer { width: 95%;margin: 2em auto;border-top: solid thin;}
div{float: right; margin-right: 2cm; margin-top: 2px;}
nav{border-style:solid; border-width: 2px; border-radius: 20px; background-color: green; margin-right: 20cm;}
