header{ text-align: center; width:200%;}
#me {color: red;} 
section{border-style:solid; border-width: 2px; margin-bottom: 2px;margin-right: 10cm;margin-left:10cm;  border-radius: 10px;}
body{background-color: Gray; color: White;}
footer { width: 95%;margin: 2em auto;border-top: solid thin;}
div{float: right; margin-right: 2cm; margin-top: 2px;}
nav{border-style:solid; border-width: 2px; border-radius: 20px; background-color: green; margin-right: 20cm;}
