header{ text-align: center;}
#me {color: red;} 
section{border-style:solid; border-width: 2px; margin-bottom: 2px;margin-right: 20cm;}
img{float: right; height="400"}
body{background-color: Black; color: White;}
footer { width: 95%;margin: 2em auto;border-top: solid thin;}
div{float: right;}
